.sql-sidebar { font-family: 'Oswald', sans-serif;  font-size: 16px; font-weight: 300;  color: #999; text-transform: uppercase; 
    
    .sql-sidebar-actions { padding: 0; 
        ul { padding: 10px 20px;  margin-bottom: 0; list-style: none; border-bottom: solid 1px #e1e1e8; 
            li { line-height: 30px; }
        }
        a {  display: block; line-height: 30px; }
    }
    
}

.sql-content {
    
    .sql-content-inner { position: relative; 
        
        .sql-dataset-list {
            .sql-dataset-name { display: block; font-weight: bold; color: #222; }
            .sql-dataset-desc { display: block; }
            .sql-dataset-owner { display: block;  color: #777; }
            .sql-dataset-modified { color: #ccc; }
        }
        
        
        .sql-dataset-owner { color: #aaa; }
        .sql-dataset-modified { color: #aaa; }
            
        .sql-dataset-desc { 
            textarea { resize: vertical; }
        }
        
        .sql-dataset-actions { position:absolute; top:0; right:0; width:280px; text-align:right;  margin-bottom: 1em; text-align: right; 
            button { 
                span { display: none; }
            }
        }
        
    }
    
}

.sql-footer { margin: 20px 10px; }

/* code mirror */

.CodeMirror {
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 15px 0;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    
    .CodeMirror-scroll {
        height: auto;
        min-height: 100px;
        padding-bottom: 0;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .CodeMirror-placeholder { color: #999; }

}

/* twitter typeahead */

.twitter-typeahead { display: block !important;
    
    .tt-input { }
    .tt-menu { width: 100%; padding: 10px;  background: #ccc !important;  border-radius: 4px; }
    .tt-dataset { }
    .tt-suggestion { }
    .tt-empty { }
    .tt-open { }
    .tt-cursor { }
    .tt-highlight { background: yellow; }
}
