.sql-content {
    
    .sql-dataset-list {
        .sql-dataset-name { display: block; font-weight: bold; color: #222; }
        .sql-dataset-desc { display: block; }
        .sql-dataset-owner { display: block;  color: #777; }
        .sql-dataset-modified { color: #ccc; }
    }
    
    
}

.sql-footer { margin: 20px 10px; }