.sql-header { position: relative; text-align: center;  
    
    .sql-user-name { padding-right: 20px; visibility: hidden; }
    .sql-menu-button { position: absolute; top:0; left:0; font-size: 26px;  color: #aaa; }
}

.sql-sidebar { max-height: 500px; overflow-y: hidden; font-family: 'Oswald', sans-serif;  font-size: 16px; font-weight: 300; color: #999; text-transform: uppercase;
    
    transition-duration: .8s;
	transition-property: max-height;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	
	.sql-sidebar-actions { padding: 0; 

        ul { padding: 10px;  margin-bottom: 0; list-style: none; border-bottom: solid 1px #e9eaed; 

            li { line-height: 30px; }
        }
        a {  display: block; line-height: 30px; }
    }
	
}
.closed { max-height: 0; }

.sql-content {
    
    .sql-content-inner { position: relative; 
        
        hr { height: 0; margin: 3em -20px 2em -20px; border: 0; border-top: 1px solid #e9eaed; }

        .sql-dataset-list {
            
            .sql-dataset-name { display: block; margin-bottom: 5px;  font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 500; color: #444;text-transform: uppercase;  }
            .sql-dataset-owner-modified { display: inline-block; font-size: 12px; color: #aaa;  }
            .sql-dataset-desc { display: block; color: #aaa; }
            
        }
        
        
        .sql-dataset-owner { color: #aaa; }
        .sql-dataset-modified { color: #aaa; }
            
        .sql-dataset-desc { 
            textarea { resize: vertical; }
        }
        
        .sql-dataset-actions { position:absolute; top:0; right:0; width:280px; text-align:right;  margin-bottom: 1em; text-align: right; 
            form { display: inline-block; }
            button { 
                span { display: none; }
            }
            a { color: #333; text-decoration: none; 
                span { display: none; }
            }
        }        

    }
    
    .sql-upload-target { position:relative; width: 100%; height: 200px; margin-bottom:1em; text-align:center; border: 2px dashed #2b86c1; 
        .sql-upload-link { position:absolute; top: 45%; width:100%; text-align:center; }
    }
    
}

.sql-footer { margin: 20px 10px; }

/* code mirror */

.CodeMirror {
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 15px 0;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    
    .CodeMirror-scroll {
        height: auto;
        min-height: 100px;
        padding-bottom: 0;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .CodeMirror-placeholder { color: #999; }

}

/* twitter typeahead */

.twitter-typeahead { display: block !important;
    
    .tt-input { }
    .tt-menu { width: 100%; padding: 10px;  background: #ccc !important;  border-radius: 4px; }
    .tt-dataset { }
    .tt-suggestion { }
    .tt-empty { }
    .tt-open { }
    .tt-cursor { }
    .tt-highlight { background: yellow; }
}
