{% extends "sqlshare_web/base.html" %}

{% block title %}SQLSHARE: Dataset Detail{% endblock %}

{% load staticfiles %}

{% block content %}

<h2>{{ dataset.name }}</h2>

<p class="sql-dataset-desc">{{ dataset.description }}</p>
<p class="sql-dataset-owner">{{ dataset.owner }}</p>
<p class="sql-dataset-modified">modified on {{ dataset.date_modified }}</p>

<div style="position:absolute; top:10px; right:10px; width:150px; text-align:right;">
    <button type="button" class="btn btn-default btn-xs" id="">MAKE PRIVATE</button>
    <button type="button" class="btn btn-default btn-xs" id="">SHARING</button>
    <button type="button" class="btn btn-default btn-xs" id="">DELETE</button>
</div>    
    
    
<div class="form-group">
    <label for="query_sql" class="sr-only">SQL Query:</label>    
    <div id="dataset_sql" class="well" style="background:#fff;">{{ dataset.sql_code }}</div>
</div>

<div style="margin-bottom:1em;">
    <button type="button" class="btn btn-default" id="run_query">RUN QUERY</button>
    <button type="button" class="btn btn-default" disabled="disabled" id="">UPDATE DATASET</button>
</div>

<div id="query_preview_panel" style="display: none;">
    <h3>Dataset Preview</h3>

    <div id="query_running_panel" style="display: none;">Running...</div>
    <div id="query_results_panel" style="display: none;"></div>

</div>


<div style="position:relative; margin-top:3em;" id="original_results_panel" >
    
    <h3>Dataset Preview</h3>
    
    {% csrf_token %}
    {% if dataset.sample_data_status == "working" %}
        <p class="text-muted">Building preview...</p>
    {% endif %}
    
    {% if dataset.sample_data_status == "error" %}
        <p class="text-danger">Error creating preview: {{ dataset.sample_data_error }}</p>
    {% endif %}
    

    {% if dataset.sample_data_status == "success" %}
    <div class="well table-responsive" style="background:#fff;">
    <table class="table table-striped" style="font-size:12px !important;">
        <thead style="font-size:12px !important;">
        <tr role="row">
            {% for col in dataset.columns %}
                <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 42px;">{{ col.name }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all" style="font-size:12px !important;">
            {% for row in dataset.sample_data %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}

    <div style="position:absolute; top:-25px; right:0; width:200px; text-align:right;">
        <button type="button" class="btn btn-default btn-xs" id="">DOWNLOAD</button>
        <button type="button" class="btn btn-default btn-xs" id="">DERIVE</button>
        <button type="button" class="btn btn-default btn-xs" id="">SNAPSHOT</button>
        <button type="button" class="btn btn-default btn-xs" id="">CREATE NEW</button>
    </div>

</div>

<script>
    document.body.onload = function() { prep_details_page(); };
</script>

{% endblock %}
