{% extends "sqlshare_web/base.html" %}

{% block title %}SQLSHARE: Dataset Detail{% endblock %}

{% load staticfiles %}

{% block content %}

<h2>{{ dataset.name }}</h2>

<p class="sql-dataset-desc">{{ dataset.description }}</p>
<p class="sql-dataset-owner">{{ dataset.owner }}</p>
<p class="sql-dataset-modified">modified on {{ dataset.last_modified }}</p>

<div class="well" style="background:#fff;">
    {{ dataset.sql_code }}
</div>

<p>EDIT, DERIVE, CREATE SNAPSHOT, MORE OPTIONS</p>

<h3>Dataset Preview</h3>

{% if dataset.sample_data_status == "working" %}
    Building preview...
{% endif %}

{% if dataset.sample_data_status == "error" %}
    Error creating preview: {{ dataset.sample_data_error }}
{% endif %}

{% if dataset.sample_data_status == "success" %}
<div class="well table-responsive" style="background:#fff;">
<table class="table table-striped" style="font-size:12px !important;">
    <thead style="font-size:12px !important;">
    <tr role="row">
        {% for col in dataset.columns %}
            <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 42px;">{{ col.name }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all" style="font-size:12px !important;">
        {% for row in dataset.sample_data %}
        <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

</div>

{% endblock %}
