{% extends "sqlshare_web/base.html" %}

{% block title %}SQLSHARE: Dataset List{% endblock %}

{% load staticfiles %}

{% block content %}

<h2>Your datasets <span><a href="/upload">Upload</a></span></h2>
<ul class="list-group">
  <li class="list-group-item"><a href="/detail">Dataset name</a>, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
</ul>

<h2>All datasets</h2>
<ul class="list-group">
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
  <li class="list-group-item">Dataset name, this is a description... owner@uw.edu | modified on may 12, 2005</li>
</ul>

{% endblock %}