{% extends "sqlshare_web/base.html" %}

{% block title %}SQLSHARE: Dataset List{% endblock %}

{% load staticfiles %}

{% block content %}

<h2>Your datasets</h2>

<div class="list-group sql-dataset-list">
{% for dataset in datasets %}
    <a class="list-group-item" href="/detail/{{ dataset.owner }}/{{ dataset.name }}">
        <span class="sql-dataset-name">{{ dataset.name }}</span>
        <span class="sql-dataset-desc">{{ dataset.description }}</span>
        <span class="sql-dataset-owner">{{ dataset.owner }}</span>
        <span class="sql-dataset-modified">modified on {{ dataset.date_modified }}</span>
    </a>
{% endfor %}
</div>

{% endblock %}
