{% extends "sqlshare_web/base.html" %}

{% block title %}SQLSHARE: Dataset List{% endblock %}

{% load staticfiles %}

{% block content %}
      
{% if is_yours %}
<h2>Your datasets</h2>
{% endif %}
{% if is_shared %}
<h2>Shared with you</h2>
{% endif %}
{% if is_all %}
<h2>All datasets</h2>
{% endif %}
{% if is_recent %}
<h2>Recently viewed</h2>
{% endif %}

<div class="well sql-dataset-list" id="dataset_list_scroll" style="padding:0;">
    {% if datasets %}
    {% include 'sqlshare_web/list_page.html' %}
    {% else %}
    NO DATASETS TO SEE HERE
    {% endif %}
</div>

<script>
    window.onload = function() { add_datasetlist_events(); };
</script>

{% endblock %}

{% block searchbar %}
<div class="sql-search-bar">
      
    <form method="GET" class="form-inline" style="display:inline;">
      <input type="text" class="form-control" placeholder="Filter dataset by keyword..." name="q" value="{{ current_query }}" id="dataset_search_input">
      <span >
        <input class="btn btn-primary" type="submit" value="Filter" id="run_dataset_search_button" {% if current_query %}style="display: none;"{% endif %}/>
      </span>
    </form>
    
    <form method="GET" class="form-inline" style="display:inline;">
        <span >
        <input class="btn btn-primary" type="submit" value="Clear" id="clear_dataset_search_button" {% if not current_query %}style="display: none;"{% endif %}/>
        </span>
    </form>
    
</div>
{% endblock %}
