    {% for dataset in datasets %}
    <a class="list-group-item" href="/detail/{{ dataset.owner }}/{{ dataset.name }}">
        <span class="sql-dataset-name">{{ dataset.name }}</span>

        <span class="sql-dataset-owner-modified">{{ dataset.owner }} {{ dataset.date_modified }}</span>

        {% if dataset.description %}
        <div class="sql-dataset-desc">{{ dataset.description }}</div>
        {% endif %}

    </a>
    {% endfor %}

    {% if datasets %}
    <a href="{{ next_page_url }}">next page</a>
    {% endif %}


