{% extends "sqlshare_web/base.html" %}

{% block title %}SQLSHARE: Dataset Upload{% endblock %}

{% load staticfiles %}

{% block content %}

<form method="POST" id="dataset_parser_form">

{% csrf_token %}

<input type="hidden" name="update_preview" id="update_preview" value="0" />
<input id="has_column_headers" type="checkbox" name="has_header" value="1" {% if parser_values.parser.has_column_headers %}checked="checked"{% endif %} /> Has column headers <Br />

Delimiter:

<select name="delimiter" id="dataset_delimiter" class="form-control">
    <option value="," {% if parser_values.parser.delimiter == "," %}selected=selected{% endif %}>,</option>
    <option value="|" {% if parser_values.parser.delimiter == "|" %}selected=selected{% endif %}>|</option>
    <option value="TAB" {% if parser_values.parser.delimiter == "TAB" %}selected=selected{% endif %}>TAB</option>
</select>



<h3>Dataset Preview</h3>

<div class="table-responsive" style="background:#fff; margin-bottom:2em;">
    <table class="table table-striped">
        <thead>
            <tr>
                {% for row in parser_values.columns %}
                <th>{{ row.name }}</th>
                {% endfor %}
            </tr>  
        </thead>
        <tbody> 
            {% for row in parser_values.sample_data %}
            <tr>
                {% for col in row %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<input class="btn btn-default" type="submit" value="Next...">

</form>

<script>
    document.body.onload = function() {
        add_parser_form_events();
    };
</script>

{% endblock %}
