{% extends "sqlshare_web/base.html" %}

{% block title %}SQLSHARE: Query List{% endblock %}

{% load staticfiles %}

{% block content %}

<h2>Recent Queries</h2>

<div class="well sql-query-list">
    {% for query in queries %}
    <a class="sql-query-list-item" href="/queries/{{ query.query_id }}">
        
        <span class="sql-query-code">{{ query.sql_code }}</span>

        <span class="sql-query-date">{{ query.date_created }}</span>

        <span class="sql-query-status">
            {% if query.is_finished %}
                {% if query.has_error %}
                <span class="text-danger"><i class="fa fa-exclamation-circle"></i> Error running query!</span>
                {% else %}
                <span class="text-success"><i class="fa fa-check"></i> Query finished running!</span>
                {% endif %}
            {% else %}
            
            <span class="text-muted"><i class="fa fa-circle-o-notch fa-spin"></i> Running query...</span>
            
            <form method="POST" style="display: inline-block; margin-left: 2em;">
            {% csrf_token %}
            <input type="hidden" name="query_id" value="{{ query.query_id }}"/>
            <input type="submit" value="Cancel Query" class="btn btn-default btn-xs" />
            </form>
            {% endif %}
        </span>
        
    </a>

    {% endfor %}
</div>


{% endblock %}
