    {% if dataset.sample_data_status == "working" %}
    <div class="well">
        <p class="text-muted"><i class="fa fa-circle-o-notch fa-spin"></i> Building preview...</p>
    </div>
    {% endif %}
    
    {% if dataset.sample_data_status == "error" %}
    <div class="well">
        <p class="text-danger">Error creating preview: {{ dataset.sample_data_error }}</p>
    </div>
    {% endif %}
    

    {% if dataset.sample_data_status == "success" %}
    <div class="well table-responsive">
        <table class="table table-striped" style="font-size:12px !important;">
            <thead style="font-size:12px !important;">
            <tr role="row">
                {% for col in dataset.columns %}
                    <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 42px;">{{ col }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" style="font-size:12px !important;">
                {% for row in dataset.sample_data %}
                <tr>
                    {% for col in row %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    
    
 
