{% extends "sqlshare_web/base.html" %}

{% block title %}SQLSHARE: Save Dataset{% endblock %}

{% load staticfiles %}

{% block content %}

<h2>{{ dataset.name }}</h2>

<div id="final_settings_panel">
{% csrf_token %}
<input type="hidden" name="original_name" value="{{ filename }}"/>
Title: <input type="text" name="dataset_name" id="id_dataset_name" value="{{ filename }}"/> 
<span id="title_required" style="display: none;">Required</span>
<br />
Description: <textarea name="dataset_description"></textarea>

<br />

<input type="checkbox" name="is_public" value="1" checked="checked" /> Is Public

<button id="save_button">Save</button>
</div>
<div id="uploading_panel" style="display: none;">
Saving dataset...
</div>

<script>
    document.body.onload = function() {
        add_finalize_form_events();
    };
</script>
{% endblock %}
