{% extends "sqlshare_web/base.html" %}

{% block title %}SQLSHARE: New Query{% endblock %}

{% load staticfiles %}

{% block content %}

<h2>Start a new query</h2>

<form method="POST">
<input type="hidden" name="save" value="1"/>
{% csrf_token %}
<div style="margin-bottom:2em;">
    <input type="hidden" name="sql" value="{{sql}}"/>
    {{ sql }}
</div>

Dataset name: <input type="text" name="name" /> {% if errors.name %}Required{% endif %}<br>
Description: <textarea name="description"></textarea> <br />
Is public? <input type="checkbox" name="is_public" value="1" {% if is_public %}checked="checked"{% endif %} /> <br />
<div>
    <input type="submit" />
</div>

{% endblock %}
